<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout ::site-head">
<title th:text="#{title.application}">Game collection</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/collection.css" th:href="@{/css/collection.css}" />
</head>

<body>
  <header th:replace="layout :: site-header" />
  <div>
    <h2 th:text="#{title.tosell}" style="display: inline;">Collection of games</h2>
  </div>
  
  <div class="listOfGames" th:unless="${#lists.isEmpty(gamesAll)}">
    <table>
      <thead>
        <tr>
          <th th:text="#{collection.catalogNumber}">catalogNumber</th>
          <th th:text="#{collection.name}">name</th>
          <th th:text="#{collection.marketValue}">marketValue</th>
          <th th:text="#{collection.description}">description</th>
          <th th:text="#{collection.dateOfAcquisition}">dateOfAcquisition</th>
          <th th:text="#{collection.languageVersion}">languageVersion</th>
          <th th:text="#{collection.platformVersion}">platformVersion</th>
          <th th:text="#{collection.status}">status</th>
          <th th:text="#{collection.operations}">operations</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="game : ${gamesAll}">
          <form action="#" th:action="@{/games}" th:object="${game}" method="post">
          <td th:text="${game.catalogNumber}">1</td>
          <td th:text="${game.name}">Tekken</td>
          <td th:text="${game.marketValue}">100</td>
          <td th:text="${game.description}">Long description</td>
          <td th:text="${{game.dateOfAcquisition}}">2016/08/08</td>
          <td th:text="${{game.languageVersion}}">English</td>
          <td th:text="${game.platformVersion}">PS4</td>
          <td th:text="#{${'collection.status.' + game.status}}">New</td>
          <td>
            <button type="submit" name="remove" th:value="${game.catalogNumber}" 
            th:text="#{collection.remove}">Dell</button>
            
            <a href="game.html" th:href="@{|/games/${game.catalogNumber}|}" >
            <button type="button" th:text="#{collection.edit}">Edit</button></a>              
          </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
  <footer th:replace="layout :: site-footer" />
</body>
</html>