<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="site-head">
<title th:text="#{title.application}">Klaser</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/collection.css" th:href="@{/css/collection.css}" />
<link rel="icon" href="../../imgages/game.jpg" th:href="@{/images/game.jpg}" />
</head>

<body>

  <header th:fragment="site-header">
    <a href="index.html" th:href="@{/}"><img src="../../images/games.png" th:src="@{/images/games.png}"/> </a> 
    <a href="klaser.html" th:href="@{/monety}">Wszystkie monety</a>
    <a href="tosell.html" th:href="@{/tosell}">Monety do sprzedania</a>
    <a href="moneta.html" th:href="@{/monety/create}">Dodaj monetę</a>
   <!--  Zalogowany: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>  
    <form th:action="@{/wyloguj}" method="POST" style="display: inline">
        <input type=submit class="link" value="Wyloguj"/>
    </form>
    -->    
    <ul id="messages">
      <li th:each="msg : ${MyMessages}" th:text="${msg.text}"
           th:class="${#strings.toLowerCase(msg.type)}">
      </li>
    </ul>
  </header>

  <div>
    <h2 th:text="#{title.list}" style="display: inline;">Klaser monet</h2>    
    <img src="../../images/games.png" alt="Klaser logo" title="Klaser logo" th:src="@{/images/games.png}"
      th:alt-title="#{title.application}" style="float: right;" /> 
    <p> A tu jakis kontent, raczje sie nie pokaże </p>
  </div>

  <footer th:fragment="site-footer"> 
  </footer>

</body>
</html>