<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="site-head">
<title th:text="#{title.application}">Collection</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/collection.css" th:href="@{/css/collection.css}" />
<link rel="icon" href="../../imgages/game.jpg" th:href="@{/images/game.jpg}" />
</head>

<body>

  <header th:fragment="site-header">
    <div>
    	<a href="index.html" th:href="@{/}"><img src="../../images/games.png" th:src="@{/images/games.png}" class="gamesImage"/> </a>
    	<a href="../logout" style="display: inline;"/>LOGOUT</a>
    </div>
    <div id="headerButtons">
	    <a href="collection.html" th:href="@{/games}" th:text="#{title.games}">All games</a>
	    <a href="tosell.html" th:href="@{/tosell}" th:text="#{title.tosell}">Games to sell</a>
	    <a href="game.html" th:href="@{/games/create}" th:text="#{title.new}">Add game</a>
	    <a href="duplicates.html" th:href="@{/duplicates}" th:text="#{title.duplicates}">Add game</a>
    </div>
    
   <!--  Zalogowany: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>  
    <form th:action="@{/wyloguj}" method="POST" style="display: inline">
        <input type=submit class="link" value="Wyloguj"/>
    </form>
    -->    
    <ul id="messages">
      <li th:each="msg : ${MyMessages}" th:text="${msg.text}"
           th:class="${#strings.toLowerCase(msg.type)}">
      </li>
    </ul>
  </header>

  <div>
    <h2 th:text="#{title.list}" style="display: inline;">Games collection</h2>    
    <img src="../../images/games.png" alt="Games logo" title="Games logo" th:src="@{/images/games.png}"
      th:alt-title="#{title.application}" style="float: right;" /> 
    <p> You shoudnt see this caption </p>
  </div>

  <footer th:fragment="site-footer"> 
  	Mikolaj Brzostowski <a href="https://github.com/mikolajBrzostowski/linklinks">Source code</a>
  </footer>

</body>
</html>