<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout ::site-head">
<title>Klaser monet</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/collection.css" th:href="@{/css/collection.css}" />
</head>

<body>
  <header th:replace="layout :: site-header" />
             
  <div>
 
    <form action="#" th:action="@{/monety}" th:object="${moneta}" method="post">

      <fieldset>

        <legend th:text="#{collection.moneta.dane}">Starter Data</legend>

        <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
          <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
        
        <div>
          <label for="collection"> <span th:text="#{collection.collection}">numer</span>
          </label> <input type="text" th:field="*{collection}" th:errorclass="fieldError" />
        </div>
        <div>
          <label for="nominal"> <span th:text="#{collection.nominal}">nominal</span>
          </label> <input type="text" th:field="*{nominal}" th:errorclass="fieldError" />
          <span th:if="${#fields.hasErrors('nominal')}" th:errors="*{nominal}">Incorrect nominal</span>
        </div>
        <div>
          <label for="description"> <span th:text="#{collection.description}">description</span>
          </label> <input type="text" th:field="*{description}" th:errorclass="fieldError" />
        </div>
        <div>
          <label for="waluta"> <span th:text="#{collection.waluta}">waluta</span>
          </label> <input type="text" th:field="*{waluta}" th:errorclass="fieldError" />
        </div>
        <div>
          <label for="cenaNabycia"> <span th:text="#{collection.cenaNabycia}">cenaNabycia</span>
          </label> <input type="text" th:field="*{cenaNabycia}" th:errorclass="fieldError" />
        </div>
        <div>
          <label for="dataNabycia"> <span th:text="#{collection.dataNabycia}">Date kup</span> (<span
            th:text="#{date.format}">YYYY/MM/DD</span>)
          </label> <input type="text" th:field="*{dataNabycia}" th:errorclass="fieldError" />
        </div>
        <div>
          <label for="krajPochodzenia"> <span th:text="#{collection.krajPochodzenia}">krajPochodzenia</span>
          </label> <input type="text" th:field="*{krajPochodzenia}" th:errorclass="fieldError" />
        </div>
        <div>
          <label for="status"> <span th:text="#{collection.status}">status</span></label>
            <select th:field="*{status}" th:errorclass="fieldError">
              <option th:each="st : ${statusAll}" th:value="${st}" th:text="#{${'collection.status.' + st}}">Nowa</option>
            </select>          
        </div>
        <div class="submit">          
            <button th:if="*{collection}" type="submit" name="save" th:value="*{collection}" >Zapisz</button>
         
         
            <button th:unless="*{collection}" type="submit" name="create" >Zapisz.</button>            
            
            
            <a href="collection.html" th:href="@{/monety}" ><button type="button">Cancel</button></a>            
        </div>

      </fieldset>

    </form>

  </div>
  <footer th:replace="layout :: site-footer" />
</body>
</html>